// from fixed navbar documentation
body {
}

// http://stackoverflow.com/questions/10128812/center-navbar-in-twitter-bootstrap-2-0
.pull-center {
	text-align: center;
}
.pull-center > .nav {
	float:none;
	display:inline-block;
}

// accordion things


// vim: filetype=css
