<!doctype html>
<html lang="en" ng-app="Reader_App">

<meta charset="UTF-8" />
<title>Reader</title>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

<link rel="stylesheet" href="css/all.css" />

<div class="row">
	<div class="col-3" ng-controller="Feed_Ctlr">
		<ul class="nav nav-pills nav-stacked">
			<li ng-click="update_feed('all')">
				<a href="#">
					<span class="badge pull-right">6</span>
					All Feeds
				</a>
			</li>
			<li ng-click="update_feed(feed)" ng-repeat="feed in feeds">
				<a href="#">
					<span class="badge pull-right">42</span>
					{{feed.title}}
				</a>
			</li>
		</ul>
	</div>

	<div class="col-9" ng-controller="Item_Ctlr">
		<accordion close-others="true">
			<accordion-group heading="item.title" completed="item.completed" ng-repeat="item in items">
				<span ng-bind-html-unsafe="item.text"></span>
			</accordion-group>
		</accordion>
	</div>
</div>

<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/ui-bootstrap-custom-0.4.0.js"></script>
<script src="js/ui-bootstrap-custom-tpls-0.4.0.js"></script>
<script src="js/all.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
