<!doctype html>
<html ng-app="Reader_App">
<head>

<meta charset="UTF-8" />
<title>Reader</title>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

<link rel="stylesheet" href="css/all.css" />

</head>
<body>

<div class="row">
<div class="col-6" ng-controller="Feed_Ctlr">
	<h2>Reader</h2>
	<ul>
		<li ng-repeat="feed in feeds"><a class="btn btn-primary" ng-click="update_feed(feed)">{{feed.title}}</a> {{feed.link}}</li>
	</ul>
</div>

<div class="col-6" ng-controller="Item_Ctlr">
	<h2>Items</h2>
	<ul>
		<li ng-repeat="item in items">{{item.title}}</li>
	<ul>
</div>
</div>

<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/all.js"></script>
<script src="http://localhost:35729/livereload.js"></script>

</body>
</html>
